*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	background-color: #fff;
	font-size: 16px;
	color: #000;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 940px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.header {
	color: #fff;
}

.header__page {
	position: relative;
}

.header__content {
	position: relative;
	padding: 41px 0px 71px 0px;
	z-index: 1;
}

.header-content__logo {
	margin: 0px 0px 317px 0px;
	text-align: center;
}

.header-content__title {
	font-family: 'Bebas Neue';
	font-size: 60px;
	line-height: 116%;
	text-align: center;
	letter-spacing: 5.7px;
}

.header-content__subtitle {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 118%;
	text-align: center;
	margin: 21px 0px 221px 0px;
}

.header-content__scroll {
	font-family: 'Open Sans';
	font-size: 11px;
	line-height: 118%;
	letter-spacing: 3.7px;
	text-align: center;
}

.header__background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main {
	flex: 1 1 auto;
}

.menu {
	border: 1px solid #F2F2F2;
	margin: 0px 0px 58px 0px;
}

.menu__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
}

.menu-logo__list {
	display: flex;
}

.menu-logo__item:not(:last-child) {
	margin: 0px 40px 0px 0px;
}

.menu-logo__item-link {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 700;
	line-height: 116%;
	letter-spacing: 1.09091px;
	color: #48555B;
}

.active {
	color: #00A4E5;
}

.ourstory {
	margin: 0px 0px 118px 0px;
}

.ourstory__title {
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 116%;
	font-weight: 700;
	text-align: center;
	letter-spacing: 2.30625px;
	color: #48555B;
	position: relative;
}

.ourstory__title::before {
	content: "";
	position: absolute;
	background-color: #00A4E5;
	width: 50px;
	height: 2px;
	left: calc((100% - 50px) / 2);
	top: 33px;
}

.ourstory__content {
	display: flex;
	margin: 98px 0px 0px 0px;
}

.ourstory__content>*:not(:last-child) {
	margin: 0px 76px 0px 0px;
}

.ourstory-content__text>*:not(:last-child) {
	margin: 0px 0px 30px 0px;
	max-width: 405px;
}

.ourstory-content__title {
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 115%;
	font-weight: 700;
	letter-spacing: 0.1875px;
	color: #48555B;
}

.ourstory-content__title span {
	color: #00A4E5;
}

.ourstory-content__paragraph {
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 177%;
	letter-spacing: 0.1875px;
	color: #48555B;
}

.ourstory-content__image {
	display: flex;
	max-width: 460px;
}

.ourstory-content__item {
	position: relative;
}

.ourstory-content__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}

.ourstory-content__item-title {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 100px;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0.1875px;
	color: #FFFFFF;
}

.capabilities {
	margin: 0px 0px 115px 0px;
}

.capabilities__content {
	display: flex;
	align-items: center;
	margin: 0px 0px 80px 0px;
}

.capabilities-content__title {
	font-family: 'Open Sans';
	width: 200px;
	font-size: 18px;
	line-height: 116%;
	font-weight: 700;
	letter-spacing: 2.30625px;
	color: #48555B;
	position: relative;
	margin: 0px 154px 0px 0px;
}

.capabilities-content__title::before {
	content: "";
	position: absolute;
	background-color: #00A4E5;
	width: 50px;
	height: 2px;
	left: 0px;
	top: 33px;
}

.capabilities-content__text {
	font-family: 'Open Sans';
	width: 406px;
	font-size: 11px;
	line-height: 172%;
	letter-spacing: 0.2px;
	color: #48555B;
	margin: 0px 31px 0px 0px;
}

.capabilities-content__link {
	font-family: 'Open Sans';
	width: 150px;
	height: 40px;
	font-size: 13px;
	font-weight: 600;
	line-height: 115%;
	letter-spacing: 0.5px;
	background-color: #00A4E5;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.capabilities__items {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 78px 0px;
}

.capabilities__item {
	padding: 38px 22px;
	border: 1px solid #F2F2F2;
}

.capabilities__item:not(:last-child) {
	margin: 0px 28px 0px 0px;
}

.capabilities-item__icon {
	margin: 0px 0px 25px 0px;
}

.capabilities-item__title {
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.426667px;
	color: #48555B;
	margin: 0px 0px 13px 0px;
	color: #48555B;
}

.capabilities-item__text {
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 177%;
	letter-spacing: 0.1875px;
	color: #48555B;
}

.getintouch__page {
	position: relative;
}

.getintouch__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 120px 0px 232px 0px;
}

.getintouch__content>*:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.getintouch-content__title {
	width: 350px;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0.15px;
	color: #48555B;
	z-index: 1;
}

.getintouch-content__link {
	font-family: 'Open Sans';
	width: 150px;
	height: 40px;
	font-size: 13px;
	font-weight: 600;
	line-height: 115%;
	letter-spacing: 0.5px;
	background-color: #00A4E5;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.getintouch__background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.signup {
	background-color: #171819;
	color: #fff;
	padding: 30px 0px;
}

.signup__content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-content__title {
	font-family: 'Open Sans';
	font-size: 22px;
	line-height: 118%;
	font-weight: 600;
	letter-spacing: 0.846154px;
	margin: 0px 70px 0px 0px;
}

.signup-content__form {
	width: 400px;
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}

.signup-content__input {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 114%;
	flex: 1 1 auto;
	min-height: 40px;
	background: #FFF;
	color: #48555B;
	padding: 0px 16px;
}

.signup-content__input:focus {
	color: #000;
}

.signup-content__button {
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 115%;
	font-weight: 600;
	background: #00A4E5;
	display: flex;
	min-height: 40px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #fff;
	padding: 0px 49px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	line-height: 118%;
	letter-spacing: 0.85px;
	background-color: #171819;
	color: #fff;
}
